

body {
	margin: 0px;
	background-color: #F7F3E6; 	/* linen-white */
	color: #3A445D;				/*charcoal-black*/
}

/*****************************************************************************/
/*SIDE-BAR related*/

#stripe {
	width: 350px;
	position: fixed;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-right: 2px dashed #3A445D; 			/*charcoal-black*/
	font-family: monospace;
}

.stripe-box {
	height: 100%;
	border-bottom: 2px dashed #3a445d;			/*charcoal-black*/
}

/* workaround for IE, since default font sizes are different ...*/
.stripe-box p {
	font-size: 13px;
}

h1 {
	color: #3a445d;
	text-align: center;
	font-size: 42px;
	font-family: 'Dosis', monospace;
	letter-spacing: 0.2em;
}

span {
	background-color: #3a445d; 		/*charcoal-black*/
	color: #F7F3E6;					/*linen-white*/
}

.text {
	font-family: monospace;
	text-align: center;
	line-height: 1.6;
}

::selection {
	color: #F7F3E6;					/*linen-white*/
	background-color: #3a445d; 		/*charcoal*/
}

::-moz-selection {
	color: #F7F3E6; 				/*linen-white*/
	background-color: #3a445d; 		/*charcoal*/
}

#intro .text {
	padding: 0px 15px;
}

#contact .text {
	text-align: left;
}

a, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #87a0b2; 			/*whale-blue*/
	text-decoration: underline;
}

/*****************************************************************************/
/*FILTER-BAR related*/

#board {
	float: right;
	width: calc(100% - 355px);
}

#filterbar {
	margin: 0px 10px;
	margin-top: 0px;
	border: 2px dashed #3a445d;
	border-top: none;
	background-color: #F7F3E6; 		/* linen-white */
	z-index: 1000;
}

#filterbar p {
	display: inline;
	margin-left: 15px;
	font-family: monospace;
	letter-spacing: 0.2em;
	font-size: 13px; 		/*to override default font-size in IE :( */
}

/* hide default 'checkbox' styling */
input[type=checkbox] {
	visibility: hidden;
}

.customCheckBox {
	display: inline-block;
	position: relative;
	top: 13.5px;
	width: 120px;
	height: 30px;
	margin: 0px 0px 20px 15px;
}

/* custom box for the chceckbox XD XD XD*/
.customCheckBox label {
	position: absolute;
	left: 5px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-width: 1px;
	border-style: dashed;
}



/*****************************************************************************/
/*GRID related*/

#grid {
	margin-top: 5px;
}

.note-item {
	position: relative;
	float: left;
	width: 200px; 
	height: 205px;
	margin: 10px;
	border-width: 1px;
	border-style: dashed;
}

.work { 	/* one of the (2) types of board notes */
	border-color: #CE2F59; 		/*brick-red*/
}

.redtitle {			/*make item title red */
	color: #CE2F59;
}

.project { 	/* one of the (2) types of board notes */
	border-color: #87A0B2;		/*whale-blue*/
}

.filter {
	border-color: #053B91; 		/*airforce-blue*/
}

.note-item .text {
	font-size: 12px;
	padding: 5px 10px;
}

.note-item h3 {
	font-size: 17px;
	font-family: 'Dosis';
	letter-spacing: 0.15em;
	text-decoration: underline;
}

.note-item .finetext {
	float: left;
	font-size: 10px;
}



/*****************************************************************************/
/* SCREEN-SIZE ADJUSTMENTS */

/**
 * 	USAGE: 	prevent grid from displaying 1 item per row
 * 			-> instead, display hamburger formatting
 */
@media (max-width:815px){

	#stripe {
		float: none;
		position: relative;
		width: auto;
		margin: 20px 45px;
		border-left: 2px dashed #3A445D;
	}

	.stripe-box {
		border-top: 2px dashed #3A445D;
		border-bottom: none;
		padding: 0px 20px;
	}

	#contact {
		text-align: center;
		border-bottom: 2px dashed #3A445D;
	}

	#contact .text {
		margin-left: 20px;
	}

	#contact .text p span {
		line-height: 2.5;
	}

	#board {
		float: none;
		position: relative;
		width: auto;
		margin: 10px 45px;
	}

	#filterbar {
		width: auto;
		border-top: 2px dashed #3A445D;
	}
}

/** 
 * 	USAGE: 	set tiles to full width, so the grid
 * 			doesn't look so weird XD
 */
@media (max-width:680px){
	#grid {
		width: 100%;
		margin-bottom: 45px;
	}
	.note-item {
		width: 95%;
		height: 170px;
	}
}

/**
 * 	USAGE: minor change to margins
 */
@media (max-width:510px){
	#stripe {
		margin: 30px 20px;
	}
	#board {
		margin: 30px 20px;
	}
}



