

body {
	margin: 0px;
	background-color: #fefffe; 	/*off-white*/
	color: #3A445D;				/*charcoal-black*/
}

/*****************************************************************************/
/*SIDE-BAR related*/

#stripe {
	width: 350px;
	position: fixed;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-right: 2px dashed #3A445D; 			/*charcoal-black*/
	font-family: monospace;
}

.stripe-box {
	height: 100%;
	border-bottom: 2px dashed #3a445d;			/*charcoal-black*/
}

h1 {
	color: #3a445d;
	text-align: center;
	font-size: 42px;
	font-family: 'Dosis', monospace;
	letter-spacing: 0.2em;
}

span {
	background-color: #3a445d; 		/*charcoal-black*/
	color: #FEFFFE;					/*off-white*/
}

.text {
	font-family: monospace;
	text-align: center;
	line-height: 1.6;
}

::selection {
	color: #FEFFFE;					/*off-white*/
	background-color: #3a445d; 		/*charcoal*/
}

::-moz-selection {
	color: #FEFFFE; 				/*off-white*/
	background-color: #3a445d; 		/*charcoal*/
}

#intro .text {
	padding: 0px 15px;
}

#contact .text {
	text-align: left;
}

a, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #87a0b2; 			/*whale-blue*/
	text-decoration: underline;
}

/*****************************************************************************/
/*FILTER-BAR related*/

#board {
	float: right;
	width: 72%;
}

#filterbar {
	position: fixed;
	right: 0%; 		/* right-align */
	width:400px;
	height: 50px;
	margin: 10px;
	margin-top: 0px;
	border: 1px dashed #FCAF5D;
	border-top: none;
}


/*****************************************************************************/
/*GRID related*/

#grid {
	margin-top: 55px; /*this value should be 5px larger than the height of #filterbar*/
	height: 800px;
}

.note-item {
	position: relative;
	float: left;
	width: 205px; 
	height: 210px;
	margin: 10px;
	border-width: 1px;
	border-style: dashed;
}

.blog { 	/* one of the (3) types of board notes*/
	border-color: #FCAF5D; 		/*tan-orange*/
}

.misc { 	/* one of the (3) types of board notes */
	border-color: #1a535c; 		/*english-green*/
}

.project { 	/* one of the (3) types of board notes */
	border-color: #87A0B2;		/*whale-blue*/
}

.note-item .text {
	font-size: 12px;
	padding: 5px 10px;
}

.note-item h3 {
	font-size: 17px;
	font-family: 'Dosis';
	letter-spacing: 0.15em;
	text-decoration: underline;
}

.note-item .finetext {
	float: left;
	font-size: 10px;
}

/*****************************************************************************/
